<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="https://jakarta.ee/xml/ns/jakartaee" 
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" 
	version="5.0">
  <display-name>MustHaveJSP</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>INIT_PARAM</param-name>
  	<param-value>web.xml에 저장한 초기화 매개변수</param-value>
  </context-param>
  <context-param>
  	<param-name>OracleDriver</param-name>
  	<param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
  	<param-name>OracleURL</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:ORCL</param-value>
  </context-param>
  <context-param>
  	<param-name>OracleId</param-name>
  	<param-value>MUSTHAVE</param-value>
  </context-param>
  <context-param>
  	<param-name>OraclePwd</param-name>
  	<param-value>1234</param-value>
  </context-param>
  <context-param>
  	<param-name>POST_PER_PAGE</param-name>
  	<param-value>10</param-value>
  </context-param>
  <context-param>
  	<param-name>POST_PER_BLOCK</param-name>
  	<param-value>5</param-value>
  </context-param>
  <session-config>
	  <!-- 세션의 유지 시간 설정(분단위) -->
	  <session-timeout>600</session-timeout>
  </session-config>
  <!-- request.SetCharacterEncoding()를 실행하도록 설정 -->
  <filter>
  	<filter-name>SetCharEncoding</filter-name>
  	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <!-- filter가 실행도는 조건을 설정 -->
  <filter-mapping>
  	<filter-name>SetCharEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>MVCBoardWrite</servlet-name>
  	<servlet-class>model2.mvcboard.WriteController</servlet-class>
  	<multipart-config>
  		<max-file-size>1048576</max-file-size>
  		<max-request-size>10485760</max-request-size>
  	</multipart-config>
  </servlet>
  <context-param>
  	<param-name>CHAT_ADDR</param-name>
  	<param-value>ws://localhost:8080/MustHaveJSP</param-value>
  </context-param>
  <context-param>
        <param-name>configFile</param-name>
        <param-value>C:\Users\it\Documents\SpringBackendAWSDeploy\Spring\w1\config.properties</param-value>
    </context-param>
 <!--  <servlet-mapping>
  	<servlet-name>MVCBoardWrite</servlet-name>
  	<url-pattern>/mvcboard/write.do</url-pattern>
  </servlet-mapping> -->
  
<!--   <servlet>
  	<servlet-name>MVCBoardList</servlet-name>
  	<servlet-class>model2.mvcboard.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MVCBoardList</servlet-name>
  	<url-pattern>/mvcboard/list.do</url-pattern>
  </servlet-mapping> -->
  
  <!-- <error-page>
  404에러 발생시 Exception.jsp를 실행하도록 설정
  	<error-code>404</error-code>
  	<location>/02/Exception.jsp</location>
  </error-page>
  <error-page>
  	<error-code>405</error-code>
  	<location>/02/Exception.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/02/Exception.jsp</location>
  </error-page> -->
  
  <resource-ref>
    <description>Oracle DB Connection</description>
    <res-ref-name>dbcp_myoracle</res-ref-name> 
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
</web-app>