.items{
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.items:nth-child(even){background-color: orange;}

.grid{display: grid;}
p{margin: 0;}

/* grid-temlate-colums 속성 : 열 갯수와 넓이 값 지정 */
/* grid-temlate-rows 속성 : 행 갯수와 넓이 값 지정 */
#grid1{
    grid-template-columns: 100px 200px 300px;
    grid-template-rows: 50px 100px;
}

/* grid-auto-rows 속성 : 행 넓이 모두 다 같은 값 지정 */
#grid2{
    grid-template-columns: 100px 200px 300px;
    grid-auto-rows: 100px;
}

/* fr 단위 & repeat 함수 : fraction 단위, 화면에서 비율을 지정한다. */
/* repeat(m, n) 함수 : n을 m번 반복할 때 사용하는 함수 */
/* minmax(m, n) 함수 : 최소는 m이고, 최대는 n 사용하는 함수 */
#grid3{
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: 100px;
}
#grid4{
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
}

/* auto-fit : 남은 공간 없이 채움 */
/* auto-fill : 항목 크기외는 그대로 둔다 */
#auto-fit{
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
}
#auto-fill{
    grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
}

/* gap 속성 : 그리드 항목 사이의 거리 지정
     값1개만 지정 : 행간, 열간 거리 지정
     값2개 지정 : 암 행, 뒤 열 지정 */
#gap{
    grid-template-columns: repeat(3,1fr);
    gap: 10px 40px;
}

/* 그리드 라인을 이용해서 그리드 레이아웃 배치 */
/* grid-colum-start(end) : 요소 열 배치 시작점(끝점) */
/* grid-colum : 요소 열 배치 시작점(끝점) 한번에 지정 */
/* grid-row-start(end) : 요소 행 배치 시작점(끝점) */
/* grid-row : 요소 행 배치 시작점(끝점) 한번에 지정 */
#useline{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
#box1{
    background-color: blue;
    grid-column: 1 /-1; /* 1~4번ㄲ지 영역 차지 */
    grid-row-start: 1;
}
#box2{
    background-color: green;
    grid-column-start: 1;
    grid-row: 2 / 4;
}#box3{
    background-color: orange;
    grid-column: 2 /-1;
    grid-row-start: 2;
}#box4{
    background-color: yellow;
    grid-column-start: 2;
    grid-row-start: 3;
}
#box5{
    background-color: red;
    grid-column: 3 /4;
    grid-row: 3 / 4;
}

/* 템플릿영역을 사용하여 배치 */
/* grid-template-areas 속성 : 생각하는 템플릿 지정 (그리드 컨테이너에 작성) */
/* grid-areas 속성 : 항목별 지정 */
#useTemplate{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    grid-template-areas: 
          "t1 t1 t1"
          "t2 t3 t3"
          "t2 t4 t5";
}
#item1{
    background-color: blue;
    grid-area: t1;
}
#item2{
    background-color: green;
    grid-area: t2;
}
#item3{
    background-color: orange;
    grid-area: t3;
}
#item4{
    background-color: yellow;
    grid-area: t4;
}
#item5{
    background-color: red;
    grid-area: t5;
}