/* 연결 선택자 4가지 */

/* 하위 선택자 (A B) : 상위태그(A) 하위 모든 하위태그(B)를 선택 */
#cssec p{
    color: blue;
}

/* 자식 선택자 (A>B) : 부모태그(A) 하위이 모든 자식태그(B) 선택 */
#cssec2 > p{
    color: red;
}

/* 인점형제 선택자 (A + B)  : 태그(A)와 현제태그 중 첫번째 태그 (B) 선택 */
#adjsec + p{
    color: green;
}

/* 현제 선택자 (A ~ B) :태그(A)와 모든 현제태그(B) 선택 */
#sibsec ~ p{
    color: orange;
}

/* 속성 선택자 7가지 */
/* 속성 선택자는 지정한 요소에 [속성]을 사용해서 선택 */
/* [속성] 선택자 : 선택한 요소(요소)에 [속성]이 있으면 그 요소를 선택 */
.atag[href]{
    background: yellow;
    border: 1px solid black;
}
/* [속성 = 값] tjsxorwk : 선택 요소(태그) [속성] 값 일치 요소 */
.atag2[target ="_blank"]{
    background: green;
    border: 1px solid black;
}
/* [속성 ~= 값] 선택자 : 속성값 중 해당 값 포함 요소 선택 */
[class ~= "button"]{
    background: blue;
    color: white;
    border: 1px solid black;
}
/* [속성 |= 값] 선택자 : 특정값 포함 속성을 가진 요소 선택
                 값이랑 같거나 "값-"으로 시작하는 요소를 찾는다 */
a[title |= "us"] {
    background: black;
    color: white;
}
a[title |= "jap"] {
    background: green;
    color: yellow;
}
a[title |= "chn"] {
    background: blue;
    color: white;
}
/* [속성 ^=값] 선택자 : 특정값 시작 요소 찾아 스타일 적용 */
a[title ^= "eng"] {
    background: black;
    color: white;
}
a[title ^= "jap"] {
    background: green;
    color: yellow;
}
a[title ^= "chin"] {
    background: blue;
    color: white;
}
/* [속성 $=값] 선택자 : 특정값 끝나는 요소 찾아 스타일 적용 */
a[href $= "hwp"] {
    background-color : red;
}
a[href $= "xls"] {
    background-color : yellow;
}
/* [속성 *=값] 선택자 : 값 일부 일치 요소 찾아 스타일 적용 */
a[href *= "google"] {
    background-color : blue;
    color: white;
}
a[href *= "naver"] {
    background-color : red;
    color: yellow;
}

/* 가상 클래스 */
/* 사용자 동작에 반응하는 가상 클래스
    :link
    :visited
    :active
    :hover
    :focus */
.navi2 ul li {
    display: inline-block;
    width: 150px;
    padding: 10px;
}
.navi2 a:link, .navi2 a:visited {
    display: block;
    font-size: 14px;
    color: black;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
.navi2 a:hover, .navi2 a:focus {
    background-color: #222;
    color: white;
}
.navi2 a:active {
    background-color: red;
}
/* 요소 상태에 따른 가상 클래스 선택자
     :target
     :enabled
     :checked */
#intro:target{
    background-color: blue;
    color: white;
}
#room input:checked + label{
    color: red;
    font-weight: bold;
}
#reservation input:enabled{
    background-color: yellow;
    color : blue;
}

/* 문서 구조에따른 가상 클래스 선택자
     :first-child
     :last-child
     :only-child
     :nth-child
     A:nth-of-type */
.container {
    width: 300px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}
.container p:first-child {
    background-color: yellow;
}
.container :last-child {
    background-color: lightblue;
}
.container div:only-child {
    background-color: pink;
}
.container div:nth-of-type(2){
    background-color: blue;
    color: white;
}

.nthcon{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}
.item{
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}
.nthcon :nth-child(2n+1){
    background-color: yellow;
}
.nthcon :nth-child(2n){
    background-color: blue;
}
/* .nthcon :nth-child(n+4){
    background-color: red;
} */
/* .nthcon :nth-child(-n+4){
    background-color: green;
} */
.nthcon :nth-child(n+3):nth-child(-n+5){
    background-color: blue;
}

/* not() */
#notcon input:not([type="tel"]){
    background-color: yellow;
}

/* A:has(B) */
#hascon{
    width: 100%;
    background-color: black;
}
#hascon nav{
    width: 600px;
    height: 60px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hascon nav a{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 0.4rem 0;
}
#hascon nav a:hover{
    color: orange;
}
#hascon nav:has(a:hover) a:not(:hover){
    opacity: 0.3; /* 투명도 설정 */
}

/* 가상 요소 */
/* ::first-letter / :;first-line */
.flcon p::first-letter{
    font-size: 2em;
    font-weight: bold;
}
.flcon2 p::first-line{
    font-size: 2em;
    font-weight: bold;
}

/*  :;bofore / ::after
    항상 content 속성 사용. 내용 */
.bacon h1::before{
    content: "*";
    color: red;
    margin-right: 5px;
}
.bacon h1::after{
    content: '❤💋🌹🐱‍🐉';
    margin-left: 10px;
}

/* CSS 함수 */
/* :root : <html> 선택 CSS 변수 사용 */
/* CSS 변수 : --변수이름 */
/* var(--변수이름) */
:root{
    --main-bg-color : yellow;
    --main-text-color : blue;
}
.cssvar {
    width: 100%;
    height: 200px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

/* calc() :계산식 함수 */
.calc{
    width: calc(100% - 80px);
    margin: auto;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.calc h1{
    /* font-size: max(3vw, 2em); */
    font-size: clamp(1rem, 2vw, 2rem);
}

/* filter() 함수 : 시각적 효과 추가 */
.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.gallery img{
    width: 80%;
    border-radius: 50%;
}
.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.image-container{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background: #f9f9f9;
}
.blur{filter: blur(5px);}
.brightness{filter: brightness(2);}
.contrast{filter: contrast(200%);}
.drop-shadow{filter: drop-shadow(16px 16px 10px black);}
.grayscale{filter: grayscale(100%);}
.invert{filter: invert(100%);}
.sepia{filter: sepia(100%);}
.opacity{filter: opacity(50%);}
.hue-rotate{filter: hue-rotate(90deg);}
.saturate{filter: saturate(500%);}